version: 1.0.{build}
image:
- Visual Studio 2017
- Visual Studio 2019
configuration: Release
platform: x64
clone_folder: c:\projects\winobjex64
build:
  project: Source/WinObjEx64.sln
  verbosity: normal